@model BrainTraining.Models.MyProfileModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Profile</title>

    <link rel="icon" type="image/x-icon" href="https://images6.alphacoders.com/555/555590.jpg" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link href="~/Content/mobile-menu.css" rel="stylesheet">
    <link href="~/Fonts/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet">
</head>

<body style=" background: #969595;">
    <div id="main-wrapper">
        <div id="preloader">
            <div id="status">
                <div class="status-mes"></div>
            </div>
        </div>

        <div class="uc-mobile-menu-pusher">
            <div class="content-wrapper">
                <nav class="navbar m-menu navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="sr-only">Training Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" style="color:#fff; font-weight:bolder;">Hey @BrainTraining.Controllers.AccountController.Name! </a>
                            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutform" }))
                            { <a href="javascript:document.getElementById('logoutform').submit()" class="logout" style="color:#ffea00;">Logout</a> }

                        </div>

                        <div class="collapse navbar-collapse" id="#navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right main-nav">
                                <li><a href="~/Home" style="color:#fff; font-weight: bolder;">Home</a></li>

                                <li class="active"><a href="~/Account/MyProfile" style="color:#fff; font-weight: bolder;">My Profile</a></li>
                                <li><a href="~/Contact" style="color:#fff; font-weight: bolder;">Contact</a></li>

                                <li class="dropdown m-menu-fw">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="color:#fff; font-weight: bolder;">
                                        Training
                                        <span><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="m-menu-content">
                                                <ul class="col-sm-3">
                                                    <li class="dropdown-header">Choose:</li>
                                                    <li><a href="~/Training/LeftOrRight">Left Or Right</a></li>
                                                    <li><a href="~/Training/MemoryPower">Memory Power</a></li>
                                                    <li><a href="~/Training/MultiTasking">Muilti Tasking</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <br />
    <br />

    @using (Html.BeginForm("MyProfile", "Account", FormMethod.Post, new { htmlAttributes = new { Id = "UserCreds" } }))
    {
        @Html.AntiForgeryToken()
        <div id="UserCreds" style="margin-top: 10%; text-align: center; color: black;">
            <label class="ProfileLBL">Name: </label>  @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { placeholder = @BrainTraining.Controllers.AccountController.Name, Class = "MyProfileTBX", @readonly = "readonly" } }) 
            <br />
            <label class="ProfileLBL">Last Name: </label> @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { placeholder = @BrainTraining.Controllers.AccountController.LastName, Class = "MyProfileTBX", @readonly = "readonly" } }) 
            <br />
            <label class="ProfileLBL">Email: </label> @Html.EditorFor(m => m.Email, new { htmlAttributes = new { placeholder = @BrainTraining.Controllers.AccountController.Email, Class = "MyProfileTBX" } }) <label id="EmailValLBL"> @Html.ValidationMessageFor(m => m.Email, "", new { Class = "text-danger" }) @Html.ValidationMessage("EmailExists")</label>
            <br />
            <label class="ProfileLBL">Current Password: </label>  @Html.EditorFor(m => m.Password, new { htmlAttributes = new { type = "password", Class = "MyProfileTBX" } }) <label id="PasswordValLBL"> @Html.ValidationMessageFor(m => m.Password, "", new { Class = "text-danger" }) @Html.ValidationMessage("PasswordMisMatch")</label>
            <br />
            <label class="ProfileLBL">New Password: </label> @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { type = "password", Class = "MyProfileTBX" } }) <label id="NewPassValLBL"> @Html.ValidationMessageFor(m => m.NewPassword, "", new { Class = "text-danger" })</label> <label id="NewPassValLBL">@Html.ValidationMessage("NoNewPWD")</label>
            <br />
            <label class="ProfileLBL">Confirm: </label> @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { type = "password", Class = "MyProfileTBX" } }) <label id="ConfirmPassLBL"> @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { Class = "text-danger" })</label>
            <br />
            <center>
                <button type="submit" id="SaveProfileBTN">Save</button>
            </center>
            <label style="color:lime;">@ViewBag.PwdMSG</label>
            <br />
            <label>@ViewBag.PwdMSG1</label>
        </div>
    }

    <script>
        function SaveProfile() {
            alert("Saving Profile");
        }
    </script>
    <br />
    <br />

    <div class="copyright-section" style="text-align: center; ">
        <div class="container clearfix">
            <span class="copytext" style="color:#fff;">Copyright &copy; 2018 | <a href="http://nqportfolio.azurewebsites.net" target="_blank" style="color:#ffea00;">NQ Enterprises</a></span>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/mobile-menu.js"></script>
    <script src="~/Scripts/FlexSlider/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/RegFormJS.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>